<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Work</key>
	<dict>
		<key>Server</key>
		<string>zzz</string>
		<key>Port</key>
		<integer>443</integer>
		<key>Username</key>
		<string>zzz</string>
		<key>Password</key>
		<string>zzz</string>
		<key>DeleteOlderThanDays</key>
		<integer>10</integer>
		<key>DeleteOlderThanFolder</key>
		<string>Deleted Items</string>
		<key>ArchiveFromFolders</key>
		<string>Archive, Sent Items</string>
		<key>ArchiveToServer</key>
		<string>WorkArchive</string>
		<key>ArchiveToFolder</key>
		<string>Archive</string>
		<key>ArchiveOlderThanDays</key>
		<integer>32</integer>
	</dict>
	<key>WorkArchive</key>
	<dict>
		<key>Server</key>
		<string>zzz</string>
		<key>Port</key>
		<integer>443</integer>
		<key>Username</key>
		<string>zzz</string>
		<key>Password</key>
		<string>zzz</string>
	</dict>
</dict>
</plist>
